.Container {
  height: 100vh;
  background-color: cyan;
}

.Titlu {
  font-size: xx-large;
  color: black;
}

.Subtitlu {
  font-size: small;
  color: black;
}

.Header-Container {
  height: 40vh;
  width: 100%;
  background-color: cyan;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Body-Container {
  height: 60vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: cyan;
}

.App-logo {
  height: 50%;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
